 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Store Manager - Login</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="login-main">
        <h3>Login to your account</h3>

        <form action="index.html" method="post">
        	<div class="input-control">
        		<label for="email">Email address</label>
        		<input type="text" name="email" id="email" class="input" placeholder="Enter email">
        	</div>

        	<div class="input-control">
        		<label for="password">Password</label>
        		<input type="text" name="password" id="password" class="input" placeholder="Enter password">
        	</div>

        	<button type="submit" name="login" class="btn btn-block">Sign in</button> 
        </form>
    </div>    
</body>

</html> 